body {
  background-color: #8af6e6;
  background-image: url("loggin2.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #8af6e6;
  padding: 10px 15px;
  border-radius: 7px;
}

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: #8af6e6;
  margin-left: 14px;
  transition: 0.3s;
}

.settings-tray--right i:hover {
  color: #8af6e6;
  cursor: pointer;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}

.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}

.search-box .input-wrapper i {
  color: #8af6e6;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}

input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.friend-drawer--grey {
  background: #8af6e6;
}

.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}

.friend-drawer .text p {
  margin: 0;
}

.friend-drawer .time {
  color: grey;
}

.friend-drawer--onhover:hover {
  background: #8af6e6;
  cursor: pointer;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 0.3s ease-in;
}

.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}

.chat-bubble--left:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--right:after {
  right: 0;
  border-left-color: #74b9ff;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.offset-md-9 .chat-bubble {
  background: #8af6e6;
  /* color: #fff; */
  color: black;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}

.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}

.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}

.chat-box-tray i:last-of-type {
  margin-left: 25px;
}

#picture-upload {
  display: none;
  visibility: none;
}

#video-upload {
  display: none;
  visibility: none;
}

#txt-upload {
  display: none;
  visibility: none;
}

button {
  border-radius: 3;
  border: none;
}

#ok {

  size: 2cm;
}

/* //////// */
.contacts{
  height: 400px;  
  overflow-y: auto;
}
.col-12{
  position: absolute;
  bottom: 0;
}
.col-md-8{
  position: relative;
}

.settings-tray h5 {
  position: relative;
  left: 60px;
  bottom: 35px;
  margin: 0px;
  padding: 0px 15px;
  height: 0px;
}

#messages{
  display: flex;
  flex-direction: column-reverse; 
  height: 345px;
  overflow-y: auto;
}

.col-md-3_r{
  display: block;
  width: fit-content;
  max-width: 500px;
  line-break: anywhere;
}

.col-md-3 .chat-bubble--right{
  display: block;
  width: fit-content;
  max-width: 500px;
  line-break: anywhere;
  float: right;
  position: relative;
  direction: rtl;
}
.text .user-name{
  position: relative;
  top: 10px;
}